pipeline/validategoodbaddataentry.json
{
	"name": "validategoodbaddataentry",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "inputlab4//movies.txt"
					},
					{
						"name": "Destination",
						"value": "outputlab4//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filepath",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "movieId\ttitle\tgenres\tfilepath",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "movieId\ttitle\tgenres\tfilepath",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "filepath",
									"type": "String"
								},
								"sink": {
									"name": "filepath",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_sinkazgen2_lab3",
						"type": "DatasetReference",
						"parameters": {
							"p_dataset": "river.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_lab3",
						"type": "DatasetReference",
						"parameters": {
							"param": {
								"value": "@concat(replace(pipeline().parameters.pTriggerFile,'.txt',''), '_', formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-ddTHHmmss'), '.txt')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralus.logic.azure.com:443/workflows/decf1699f54b4396940458530749fae1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OjAaYmoTu0sY1384X84IJ2PgKoDLsf4hZLRhZUN7ALA",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"Pipeline\":\"@{pipeline().Pipeline}\",\n    \"ErrorMessage\":\"@{activity('Copy data1').output.Error.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pTriggerFile": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Lab3"
		},
		"annotations": []
	}
}